<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Info</title>
</head>
<body>
    <h1>
        <%=cloth.year%>
        <%=cloth.iig%>
        <%=cloth.size%>
        <%=cloth.brand%>
        <%=cloth.name%> 
        
    </h1>
    
    
        <% if(cloth.isReadyToWear){ %>
            <p> The seller has documentation of verification for this product.</p>
        <% }else{ %>
            <p> The seller does <b>not</b> have documentation of verification for this product.</p>
        <% } %>
        <p>Seller Price: $<%=cloth.price%></p>
        <form action="/clothing/<%=cloth._id%>?_method=DELETE" method="POST">
            <button>Delete <%=cloth.brand%><%=cloth.name%></button>

        </form>

        <a href="/clothing/<%=cloth._id%>/edit">Edit <%=cloth.brand%><%=cloth.name%></a>
        <a href="/clothing">Back to clothing</a>
</body>
</html>